.center::after {
  clear: both;
  content: "";
  display: block;
}

.thumb {
  -webkit-animation: scale 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: scale 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: scale 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  @apply text-tc-contrast;
  font-size: 96px;
  text-decoration: none;
  position: absolute;
  top: 40px;
  left: 35px;
}

.circle-wrap {
  position: absolute;
  pointer-events: none;
}

.circle-lg {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border-style: solid;
  border-color: #aef3d5;
  opacity: 0;
  -webkit-animation: scaleCircle 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-animation: scaleCircle 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  animation: scaleCircle 1.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes scale {
  0% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  1% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  20% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  35% {
    transform: scale(1.4);
    @apply text-highlight-100;
  }
  40% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  50% {
    transform: scale(1.15);
    @apply text-highlight-100;
  }
  65% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  90% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  100% {
    transform: scale(1);
    @apply text-highlight-100;
  }
}
@-moz-keyframes scale {
  0% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  1% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  20% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  35% {
    transform: scale(1.4);
    @apply text-highlight-100;
  }
  40% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  50% {
    transform: scale(1.15);
    @apply text-highlight-100;
  }
  65% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  90% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  100% {
    transform: scale(1);
    @apply text-highlight-100;
  }
}
@keyframes scale {
  0% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  1% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  20% {
    transform: scale(0);
    @apply text-tc-contrast;
  }
  35% {
    transform: scale(1.4);
    @apply text-highlight-100;
  }
  40% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  50% {
    transform: scale(1.15);
    @apply text-highlight-100;
  }
  65% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  90% {
    transform: scale(1);
    @apply text-highlight-100;
  }
  100% {
    transform: scale(1);
    @apply text-highlight-100;
  }
}

@-webkit-keyframes scaleCircle {
  0% {
    border-width: 90px;
    transform: scale(0);
  }
  15% {
    border-color: #f9e8a0;
    border-width: 90px;
  }
  30% {
    border-color: #a8ebc4;
    opacity: 1;
  }
  35% {
    border-color: #aef3d5;
  }
  50% {
    border-width: 0;
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    border-width: 0;
    transform: scale(1);
    opacity: 0;
  }
}
@-moz-keyframes scaleCircle {
  0% {
    border-width: 90px;
    transform: scale(0);
  }
  15% {
    border-color: #f9e8a0;
    border-width: 90px;
  }
  30% {
    border-color: #a8ebc4;
    opacity: 1;
  }
  35% {
    border-color: #aef3d5;
  }
  50% {
    border-width: 0;
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    border-width: 0;
    transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleCircle {
  0% {
    border-width: 90px;
    transform: scale(0);
  }
  15% {
    border-color: #f9e8a0;
    border-width: 90px;
  }
  30% {
    border-color: #a8ebc4;
    opacity: 1;
  }
  35% {
    border-color: #aef3d5;
  }
  50% {
    border-width: 0;
    transform: scale(1);
    opacity: 0.3;
  }
  100% {
    border-width: 0;
    transform: scale(1);
    opacity: 0;
  }
}
